.container{
  display: grid;
  grid-template-areas: "header header header header header"
            "nav nav nav nav nav"
            "left content content content right"
            "footer footer footer footer footer";
             gap: 10px;
  background-color: green;
  padding: 10px;
  text-align: center;
}
.header{
  grid-area: header;
}
.nav-menu {
  grid-area: nav;
}
.content{
  grid-area: left;
}
.primary-content {
  grid-area: content;
}
.content-secondary{
  grid-area: right;
}
div{
    background-color: rgba(255, 255, 255, 0.8);

}
.footer{
  grid-area: footer;
}

