.ex02{
  display: block;
  width: 1000px;
  margin: 0 auto;
}
section {
  background-color: antiquewhite;
  padding: 10px;
}
p{
  font-size: 15px;
  text-align: left;
  font-style: italic;
  font-weight: 500;
}
a{
  color: blue;
}