.clock {
  position: relative;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin: 100px auto 0px auto;
  border: 10px solid orange;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsRGncelRc4rSf8fGBIglro53DH8MibXMuAA&usqp=CAU);
  background-size: 300px 200px;
}

.center {
  position: absolute;
  background-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: calc(50% - 10px);
  top: calc(50% - 10px);
  z-index: 20;
}

/* Tạo kim giờ */
.hourdHand {
  position: absolute;
  width: 75px;
  height: 10px;
  background-color: #000;
  transform-origin: center right;
  border-radius: 4px;
  top: 141px;
  left: 73px;
  z-index: 10;
  transform: rotate(180deg);  /* hàm thay đổi vị trí kim đồng hồ */
  animation: hourMove 4320s linear infinite;
  outline: 100px solid transparent;
}

/* tạo di chuyển cho kim giờ */
@keyframes hourMove {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(510deg);
  }
}

/* tạo kim phút */
.minutedHand {
  position: absolute;
  width: 120px;
  height: 8px;
  background-color: #000;
  border-radius: 4px;
  transform-origin: center right;
  top: 145px;
  left: 32px;
  transform: rotate(226deg);
  animation: minMove 3600s linear infinite;
  outline: 100px solid transparent;

}

/* tạo di chuyển cho kim phút */
@keyframes minMove {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Tạo kim day */
.red-center {
  position: absolute;
  width: 8px;
  height: 8px;
  z-index: 30;
  background-color: red;
  left: calc(50% - 4px);
  top: calc(50% - 4px);
}
.secondHand {
  width: 2px;
  height: 150px;
  background-color:red;
  transform-origin: bottom center;
  border-radius: 4px;
  position: absolute;
  top: 0px;
  left: 149px;
  transition: all 0.06s;
  z-index: 8;
  transform: rotate(0);
  outline: 100px solid transparent;
  animation: secMove 60s normal infinite steps(60,end);
}

.sec {
  position: relative;
  z-index: 30;
}
/* tạo di chuyển kim dây */
@keyframes secMove {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul{
  list-style: none;
  padding: 0;
}
li{
  position: absolute;
  width:20px;
  height:20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  columns: #000;
  font-family: "Droid Serif", serif;
}
/* định dạng vòng tròn số */
.clock ul li:nth-child(1){
  right: 22%;
  top: 6.5%;
}
.clock ul li:nth-child(2){
  right: 6%;
  top: 25%;
}

.clock ul li:nth-child(3){
  right: 1%;
  top: calc(50% - 10px);
}

.clock ul li:nth-child(4){
  right: 6%;
  top: 69%;
}

.clock ul li:nth-child(5){
  right: 22%;
  top: 84%;
}

.clock ul li:nth-child(6){
  right: calc(50% - 10px);
  top: calc(99% - 20px);
}

.clock ul li:nth-child(7){
  left: 22%;
  top: 84%;
}

.clock ul li:nth-child(8){
  left: 6%;
  top: 69%;
}

.clock ul li:nth-child(9){
  left: 1%;
  top: calc(50% - 10px);
}

.clock ul li:nth-child(10){
  left: 6%;
  top: 25%;
}

.clock ul li:nth-child(11){
  left: 22%;
  top: 6.5%;
}

.clock ul li:nth-child(12){
  right: calc(50% - 10px);
  top: 1%;
}

